:root {
    --text: #F0F0F0;
    --bg: rgb(56, 45, 47);
    --bg2: rgb(181, 210, 244);
    --highlight: rgb(255, 255, 149);
}

body {
    font-family: 'Raleway', 'Open Sans', sans-serif;
    background-image: url("../img/mcBg.png");
}

nav {
    background-color: var(--bg);
    border-radius: 5px;
    padding: 0.5rem 0;
}

nav ul {
    list-style-type: none;
    flex-wrap: nowrap;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

nav li {
    color: var(--text);
    display: inline-block;
    flex: 0 1 auto;
}

nav a {
    color: var(--text);
    text-align: center;
    border: none;
    text-decoration: none;
    padding: 1.5rem;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--highlight);
    color: #000;
    transition: 200ms;
}

main {
    background-color: var(--text);
    border-radius: 5px;
    margin: 2rem;
    color: var(--bg);
}

h1 {
    size: 3rem;
}

#banner-container {
    margin: 0 auto;
    display: grid;
    text-align: center;
    object-fit: cover;
}

#banner {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    border-radius: 5px;
}

footer {
    color: var(--bg2)
}

@media all and (min-width:0px) {
    main {
        position: relative;
        margin: 1rem auto;
        padding: 2rem;
    }
    nav {
        margin: 1rem auto;
    }
}

@media all and (min-width:1200px) {
    #container {
        width: 50%;
        margin: 1rem auto;
    }
}
